---
import Icon from "./ui/Icon.astro";
import Link from "./ui/link.astro";
const currentYear = new Date().getFullYear();
---

<footer>
  <!-- <div class="group">
    <p>
      Built with <Link class="link" href="https://astro.build/" external>
        Astro
      </Link>
      <Icon icon="rocket-launch" size="1.2em" />
    </p>
    <p>&copy; {currentYear} Mark Robbins</p>
  </div> -->
  <p class="socials">
    <Link class="link" href="https://www.youtube.com/user/doodlechaos" external>Youtube</Link>
    <Link class="link" href="https://www.tiktok.com/@doodlechaos" external>Tiktok</Link>
    <Link class="link" href="https://discord.com/invite/7FCrWAzDY7" external>Discord</Link>
    <Link class="link" href="https://www.twitch.tv/doodlechaos" external>Twitch</Link>
    <Link class="link" href="https://www.patreon.com/doodlechaos" external>Patreon</Link>
    <Link class="link" href="https://x.com/DoodleChaos" external>X</Link>
    <Link class="link" href="https://github.com/doodlechaos" external>Github</Link>
    
    <!-- <Link class="link" href="https://codingly.netlify.app/" external>Blog</Link> -->
    <!-- <Link class="link" href="https://sgogov.com/" external>
      Photography Portfolio
    </Link> -->
  </p>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    justify-content: center;
    color: var(--gray-400);
    font-size: var(--text-sm);

    .link {
      color: var(--gray-400);
    }
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: center;
      padding: 2.5rem 5rem;
      
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .socials {
      justify-content: flex-end;
    }
  }
</style>
